<div class="card">
  <div class="card-body text-center">
    <i class="fas fa-check-circle fa-3x text-success mb-3"></i>
    <h4 class="card-title">Thank You!</h4>
    <p class="card-text">Your message has been sent successfully. We'll get back to you soon.</p>
    <%= link_to "Send Another Message", "#contact", class: "btn btn-primary mt-3", data: { turbo_frame: "contact_form" } %>
  </div>
</div> 