<footer class="bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>AK Catalyst</h5>
        <p>Transforming ideas into digital reality</p>
      </div>
      <div class="col-md-6 text-md-end">
        <div class="social-links">
          <%= link_to "#", class: "text-light me-3" do %>
            <i class="fab fa-linkedin"></i>
          <% end %>
          <%= link_to "#", class: "text-light me-3" do %>
            <i class="fab fa-twitter"></i>
          <% end %>
          <%= link_to "#", class: "text-light" do %>
            <i class="fab fa-github"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer> 